<% if flash[:notice] %>
  <div data-controller="flash" data-flash-type-value="notice" data-flash-message-value="<%= flash[:notice] %>" style="display: none;"></div>
<% end %>

<% if flash[:alert] %>
  <div data-controller="flash" data-flash-type-value="alert" data-flash-message-value="<%= flash[:alert] %>" style="display: none;"></div>
<% end %>
