<div class="status-card" >
  <%= image_tag 'conversation.jpg', alt: "Two people having a conversation", class: "status-card-image" %>
  <div class="content">Conversation</div>
  <div class="status locked"><i class="fas fa-lock"></i></div>
</div>
