<div class="status-card">
  <%= image_tag 'conversation.jpg', alt: "Two people having a conversation", class: "status-card-image" %>
  <div class="content">Conversation</div>
  <div class="status incomplete"><i class="far fa-times-circle"></i></div>
</div>
