<div class="status-card" >
  <%= image_tag 'feedback.jpg', alt: "A person giving feedback", class: "status-card-image" %>
  <div class="content">Partner Guidance</div>
  <div class="status complete"><i class="far fa-check-circle"></i></div>
</div>
