<div class="status-card" >
  <%= image_tag 'journal.jpg', alt: "A journal", class: "status-card-image" %>
  <div class="content">Journal Entry</div>
  <div class="status incomplete"><i class="far fa-times-circle"></i></div>
</div>
