// Typography
// Uses the new modern font stack from config/_fonts.scss

body {
  font-family: $body-font;
  font-weight: 400;
  font-style: normal;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $headers-font;
  font-weight: 700;
  color: $slate-900;
}
