body {
  font-family: "Alan Sans", "IBM Plex Sans JP", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 110%;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Story Script", "Zen Old Mincho", serif !important;
}
