.top-bar {
    background: linear-gradient(120deg,#553745,#774C60);
    color: #ecf0f1;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    height: 52px;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 1000;
}

.top-bar__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar__title {
    font-size: 20px;
    font-weight: bold;
}

.top-bar__avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: 7px;
    right: 20px;
}

.top-bar-partner-avatar img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 18px;
  right: 52px;
}

.content-area-pushed-down {
  padding-top: 60px;
}
