.icon {
    flex: 1;
    text-align: center;
    color: white;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
    transition: transform 0.2s ease-in-out;
}

.icon:hover, .icon:focus {
    outline: none;
    transform: scale(1.1);
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: linear-gradient(120deg,#553745,#774C60);
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 -1px 5px rgba(0,0,0,0.1);
}
