.status-card-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding: 10px;
    gap: 12px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.status-card-container::-webkit-scrollbar {
    display: none;
}

.status-card {
    flex: 0 0 auto;
    height: 102px;
    border-radius: 14px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    position: relative;
    padding: 8px;
    gap: 16px;
    margin-bottom: 12px;
    background: linear-gradient(120deg,#553745,#774C60);
}

.status-card-image {
    width: 122px;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    flex-shrink: 0;
}

.content {
    font-size: 20px;
    color: white;
    text-align: left;
    line-height: 1.3;
    white-space: normal;
    flex-grow: 1;
}

.status {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 24px;
}

.status.complete {
    color: #28a745;
}

.status.incomplete {
    color: red;
}

.status.locked {
    color: grey
}

.status-card-container-link {
  display: block;
  color: inherit;
  text-decoration: none;
}
