.form-control {
    border-radius: 10px;
    background: linear-gradient(120deg, #1a1423, #271e35);
    border: 1px solid #553745;
    color: white;
    font-size: 1.1rem;
    padding: 15px;

    &::placeholder {
        color: rgba(255, 255, 255, 0.5);
    }

    &:focus {
        background: linear-gradient(120deg, #1a1423, #271e35);
        border-color: #774C60;
        color: white;
        box-shadow: 0 0 0 2px rgba(119, 76, 96, 0.3);
    }
}

textarea.form-control {
    min-height: 200px !important;
    height: auto !important;
    resize: vertical;
}

.btn-primary {
    border-radius: 8px;
    background: linear-gradient(135deg,#372549,#774C60);
    box-shadow: 0 2px 4px #160f1d,0 5px 10px #1d1317;
    transition: transform 0.1s ease;
    border: none;
    padding: 12px 30px;
    font-size: 1.1rem;
    margin-top: 10px;
}

.btn-primary:hover {
    transform: scale(1.05);
    background: linear-gradient(135deg,#553745,#774C60);
}
