.topic-background-box {
    margin-top: 8px;
    padding: 20px;
    background: linear-gradient(120deg,#553745,#774C60);
    border-radius: 15px;
    display: block;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

.topic-card {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
    justify-content: center;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.7);
    border-radius: 15px;
    overflow: hidden;
    padding: 16px;
}
