.list-item {
    cursor: pointer;
    background: linear-gradient(135deg, #722f37, #4a1521);
    color: #fff;
    transition: background 0.3s ease;
}

.list-item:hover {
    background: linear-gradient(135deg, #8c3943, #541b27);
    color: #fff;
}
